* {
    box-sizing: border-box;
  }

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1 {
     /* background: #36D1DC;  fallback for old browsers */
    /* background: -webkit-linear-gradient(112.626deg, rgb(63, 69, 209), rgb(30, 159, 194), rgb(79, 221, 220)); */
    
    background-attachment: scroll;
    background-image: url(../images/jump.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#page2 {
    background: orangered;
}   

#page3 {
    background: crimson
}   

#page4 {
    background: violet;
} 


nav {
    background-color: rgba(3,3,3, 0.7);
    height: 60px;
    position: fixed;
    top: 0px;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-content:  space-evenly;
    align-items: center;

    & > .nav-title {
        color: orange;
        font-weight:  700;
    }

    & > .nav-btn {
        display: none;
        padding-top: 6px;
        padding-right: 16px;
    }
    
    & > #nav-check {
        display: none;
    }

    & > .nav-links > a {
        color: cyan;
        display: inline-block;
        margin-left: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 3px;
        font-size: 16px;
        text-decoration: none;
    }

    & > .nav-links > a:visited {
        color: cyan;
    }

    & > .nav-links > a:visited.active, & > .nav-links > a.active {
        color: #333;
        background-color: cyan;
    }
}

  
  @media (max-width:600px) {
    nav {
        & > .nav-btn {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
        }
        & > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;

            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            cursor: pointer;
        }
        & > .nav-btn > label:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
        & > .nav-btn > label > span {
            display: block;
            width: 25px;
            height: 3px;
            margin-bottom: 6px;
            background-color:  cyan;
            border-top: 1px solid cyan;
            border-bottom: 1px solid cyan;
            border-radius: 2px;

            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

        & > .nav-btn > label > span:nth-child(1) {
            top: 0px;
        }
  
        & > .nav-btn > label > span:nth-child(2), & > .nav-btn > label > span:nth-child(3) {
            top: 18px;
        }
  
        & > .nav-btn > label > span:nth-child(4) {
            top: 36px;
        }
  
        & > #nav-check:checked + .nav-btn > label span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
  
        & > #nav-check:checked + .nav-btn > label span:nth-child(2) {
            -webkit-transform: rotate(45deg) translate(0px, 0px); ;
            -moz-transform: rotate(45deg) translate(0px, 0px); ;
            -o-transform: rotate(45deg) translate(0px, 0px); ;
            transform: rotate(45deg) translate(0px, 0px); 
        }
  
        & > #nav-check:checked + .nav-btn > label span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg)  translate(6px, -7px);
        }
  
        & > #nav-check:checked + .nav-btn > label span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }


        & > .nav-links {
            position: absolute;
            display: block;
            width: 100%;
            background-color: #333;
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            left: 0px;
        }
        & > .nav-links > a {
            display: block;
            width: 100%;
            text-align: left;
            padding-top: 32px;
        }
        & > #nav-check:not(:checked) ~ .nav-links {
            height: 0px;
        }
        & > #nav-check:checked ~ .nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }

        & > .nav-links > a:visited.active, & > .nav-links > a.active {
            background-color: transparent;
            color: #eee;
        }

    }
  }

